.more-margin-top{
    margin-top: 50px;
}
.give-border{
    padding: 20px;
    border: 1px solid #ccc;
}
#question2{
    display: none;
}
.hide-please{
    display:none;
}
.gimme-background{
    background: #ccc;
    padding: 20px;
}
.warning{
    border: 1px solid #F00 !important;
}
